body {
    background-color: rgb(52, 52, 53);
}

.pen-btn, .highlight-btn, .note-btn, .undo-btn, .save-btn, .color-button {
    border-radius: 20px;
    border-width: 1.2px;
    width: 40px; 
    height: 40px;
    margin: 6px 6px;
    border-style: solid;
    cursor: pointer;
    background-color: rgb(218, 255, 251);
}

.color-button {
    width: 30px;
    height: 30px;
}

.button-container {
    display: flex;
    justify-content: space-evenly;
}

button {
    transition: opacity 0.3s, transform 0.3s;
}

button img {
    width: 100%; 
    height: auto; 
} 

.button-container:hover .color-button {
    display: flex;
}

.color-button:hover {
    opacity: 80%;
    transform: scale(1.3);
}

.color-button:active {
    opacity: 70%;
    transform: scale(0.95);
}

::selection {
    background-color: yellow;
}